<div class="header-container">
  <div class="header-slot" [routerLinkActive] = "['active']">
    <a [routerLink] = "['basicObservable']">
      <img src="../assets/icons/rxjs.svg" width="70" height="70"/>
      <div class="header-caption">observale</div>
    </a>
  </div>
  <div class="header-slot" [routerLinkActive] = "['active']">
    <a [routerLink] = "['streams']">
      <img src="../assets/icons/rxjs.svg" width="70" height="70"/>
      <div class="header-caption">sreams</div>
    </a>
  </div>
  <div class="header-slot" [routerLinkActive] = "['active']">
    <a [routerLink] = "['subject']">
      <img src="../assets/icons/rxjs.svg" width="70" height="70"/>
      <div class="header-caption">subject</div>
    </a>
  </div>
  <div class="header-slot" [routerLinkActive] = "['active']">
    <a [routerLink] = "['operators']">
      <img src="../assets/icons/rxjs.svg" width="70" height="70"/>
      <div class="header-caption">operators</div>
    </a>
  </div>
</div>
